<a href="https://colab.research.google.com/github/OzzDm/NotesApp/blob/master/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install apriori

In [5]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=1c07f93258becf77464b757f46ff4d04fad5f426cc2c0c323c3925eef848d63b
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [6]:
#importing the required datasets
import numpy as np
import pandas as pd
from apyori import apriori

In [7]:
#Loading tha dataset
store_data = pd.read_csv('/content/sample_data/products.csv',header=None)

In [8]:
#Having a glance at the records
store_data

                0  ...              3
0      product_id  ...  department_id
1               1  ...             19
2               2  ...             13
3               3  ...              7
4               4  ...              1
...           ...  ...            ...
49684       49684  ...              5
49685       49685  ...              1
49686       49686  ...              3
49687       49687  ...              8
49688       49688  ...             11

[49689 rows x 4 columns]

In [10]:
store_data.shape

(49689, 4)

In [13]:
#Converting the pandas dataframe into a list of lists
records =[]
for i in range(0,49689):
  records.append([str(store_data.values[i,j]) for j in range(0,4)])

In [19]:
#Building the first apriori model
association_rules = apriori(records, min_support=0.10, min_confidence=0.1, min_lift=1)
association_results=list(association_rules)

In [20]:
print(len(association_results))

3

In [21]:
print(association_results)

[RelationRecord(items=frozenset({'11'}), support=0.13210167240234258, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'11'}), confidence=0.13210167240234258, lift=1.0)]), RelationRecord(items=frozenset({'13'}), support=0.11449214111775242, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'13'}), confidence=0.11449214111775242, lift=1.0)]), RelationRecord(items=frozenset({'19'}), support=0.13363118597677554, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'19'}), confidence=0.13363118597677554, lift=1.0)])]